{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SMILEXPLORERS DENTAL CLINIC</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
</head>
<body>
	
<header>
	<div class="new">
		

        <ul>
		<li><a href="#" >Home</a></li>
		<li><a href="#" >Gallery</a></li>
		<li><a href="#" >Services</a></li>
		<li><a href="#" >About</a></li>
   
    </ul>
	</div>

	<div class="title">
		<h1><I>SMILEXPLORERS</I></h1>
		<h3>DENTAL CARE</h3>
		</div>
		


	    <div class="main">
	    	<a href="register" >SCHEDULE AN APPOINTMENT</a>
	    	<a href="login">PATIENT DETAILS</a>
	    </div>
</header>

</body>
</html>